<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Learning Materials
    </c-card-header>
    <c-card-body>
      <c-row (click) = "clickFunc('https://firebasestorage.googleapis.com/v0/b/finaldb-e07d3.appspot.com/o/videoplayback%20(1).mp4?alt=media&token=f30e653e-530a-4375-9645-e67abd8791fd')">
        <c-card class="mb-4">
          <c-card-body>
            Beginner Learning Materials
          </c-card-body>
        </c-card>
      </c-row>

      <c-row (click) = "clickFunc('https://firebasestorage.googleapis.com/v0/b/finaldb-e07d3.appspot.com/o/videoplayback.mp4?alt=media&token=65e9994d-c63a-4027-b59f-26f0159fb41a')">
        <c-card class="mb-4">
          <c-card-body>
            Intermediate Learning Materials
          </c-card-body>
        </c-card>
      </c-row>

      <c-row (click) = "clickFunc('https://firebasestorage.googleapis.com/v0/b/finaldb-e07d3.appspot.com/o/Node.js%20Ultimate%20Beginner%E2%80%99s%20Guide%20in%207%20Easy%20Steps.mp4?alt=media&token=f77904dc-360f-4a0a-be9c-17e693c8e9b8')">
        <c-card class="mb-4">
          <c-card-body>
            Advanced Learning Materials
          </c-card-body>
        </c-card>
      </c-row>
    </c-card-body>
  </c-card>
</div>
